<mat-toolbar  class="bg-blue-500 max-w-7xl mx-auto text-white border-x justify-between">
    <span>
    <mat-icon  color="bg-blue-600"  
    class="mat-display-3">apps</mat-icon> &nbsp;
    <a style="font-size: 40px;" routerLink="home">Infosys</a> &nbsp;
    <span  style="font-size: 30px;">|  </span>
    <span class="mr-20">MarketPlace</span>
 
        <mat-form-field class="example-full-width 
        pt-5" style="width :600px;">
          <mat-label>How can I help you today?</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
   

</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
    [matBadge]="2"
    matBadgeColor="warn"
    class="bg-black-400"
    >person</mat-icon>

    </button>
    <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
                <span class="mr-16"><mat-icon>person</mat-icon></span>
                <h2 style="float:right">Anand Jha</h2>
                
            </div>
            <p style="text-align:right;"> Infosys limited</p>
            <div class="py-3" style="text-align:center;">
                <a  routerLink="home" style=" color:blueviolet;" class=""flex  font-light mb-2>
                    View Profile </a>
        <p></p>
            <a style=" color:blueviolet;" routerLink="home" class=""flex justify-between font-light mb-2>
                My Bookmarks
                
            </a>
        </div>
   
            <div class="flex justify-between py-3 font-light">
                <mat-icon>login</mat-icon>
                <a routerLink="" style=" color:blueviolet;"><strong>Log out</strong></a>
            </div>
            </div>


            


            
        
 

    </mat-menu>
</mat-toolbar>


<div class=" max-w-7xl mx-auto justify-between">
<button mat-button [matMenuTriggerFor]="aboveMenu">Home</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">MicroStores</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Domains</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Categories</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

</div>


<div class="bg-blue-900 max-w-7x1 mx-auto justify-between">
    <h2 style="text-align: center; color: aliceblue;"> Infosys Live Engineering Platform</h2>
    <p style="text-align: center; color: aliceblue;">An one-stop solution that provides intelligent insights to the business & IT teams to evolve as a hyper-productive product engineer.</p>
   
</div>
