<div class="max-w-7xl mx-auto justify-between">
<mat-card class="example-card">

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Infosys Live Enterprises</mat-card-title>
        <mat-card-subtitle>Technology Platforms</mat-card-subtitle>
        <img mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Infosys_logo.svg/1280px-Infosys_logo.svg.png" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Infosys Intillegent Assistant</mat-card-title>
        <mat-card-subtitle>Technology Platforms</mat-card-subtitle>
        <img mat-card-sm-image src="https://static.toiimg.com/thumb/msid-67522446,width-400,resizemode-4/67522446.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>

  
  
</div>